# https://github.com/travis-ci/travis-ci/wiki/.travis.yml-options
language: "ruby"

script: "bundle exec rake --trace"

rvm:
  - "2.5"
  - "2.6"
  - "2.7"

matrix:
  include:
    - name: "JRuby 9.2"
      rvm: jruby-9.2.12.0
      jdk: openjdk11
      env: JAVA_OPTS="--add-opens java.base/java.security.cert=ALL-UNNAMED --add-opens java.base/java.security=ALL-UNNAMED"
  allow_failures:
    - name: "JRuby 9.2"
  fast_finish: true

notifications:
  irc: "irc.freenode.org#savon"
