@font-face { font-family:Inconsolata; src:url("../fonts/inconsolata.otf"); }
@font-face { font-family:Aller; src:url("../fonts/aller_lt.ttf"); }

body { background:#fff; color:#222; font:13px/21px helvetica,arial,sans-serif; margin:30px 0; }

h1, h2, h3 { font-family:Aller,helvetica,arial,sans-serif; }
  h1 { font-size:34px; }
  h2 { border-top:4px solid #eee; font-size:20px; margin-top:2em; padding-top:0.5em; }
  h3 { font-size:16px; margin-top:2em; }

a:link, a:visited { color:#4183C4; text-decoration:none; }
a:hover, a:active { color:#4183C4; text-decoration:underline; }

p { margin:1em 0; }

ul, ol { margin:0; padding:0 0 0 1.25em; }
  li p { margin:0; }

pre, code { background:#f8f8ff; border:1px solid #ddd; color:#444; font:14px Inconsolata,Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace; }
  pre { margin:1em 0; overflow:auto; padding:0.5em 1em; }
  code { padding:0.1em 0.3em; }
    pre code { border:0; padding:0; }

#content { margin:0 auto; width:60em; }

div.warn { border:1px dashed #a00; padding:0.5em 1em; }
.warn { color:#a00; }
