name: Ruby

on:
  - push

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
          fail-fast: false
          matrix:
            ruby: [2.5, 2.6, 2.7, head]
    env:
      RAILS_ENV: test
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Install dependencies
      run: bundle install
    - name: Run tests
      run: bundle exec rake --trace
